
.body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9),rgba(0,0,0,0.5)), url("./cool.jpg") no-repeat center/cover;
}

#weather {
    width: 350px;
    border-radius: 10px;
    padding: 30px 20px;
    background: url("./cool.jpg") no-repeat center/cover;
}

.search {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.3);
    border-radius: 0 15px 0 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    transition: 0.4s;
    font-size: 19px;
    color: rgb(0, 66, 92);
}
.search:focus {
    background: rgba(255,255,255,0.7);
    border-radius: 15px 0 15px 0;
}

.content {
    text-align: center;
    color: white;
    margin: 40px 0;
    transition: 0.4;
}


.capital {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-size: 30px;
}

.time {
    margin:15px 0 20px 0;
    font-size: 15px;
}

.temp {
    font-size: 55px;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    background:rgba(255,255,255,0.3) ;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    border: none;
    border-radius: 10px;
    margin:  0 30px;
    padding: 20px;
}
.short-desc {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    margin: 5px 30px;

}
.more-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.more-desc div{
    display: flex;
    flex-direction: column;
    padding: 5px;

}
.more-desc div i {
    margin: 7px 0;
}

.hide {
    visibility: hidden;
    opacity: 0;
}